/* body{
    background-color: black;
    color: white;
}

h1{
    background-color: yellow;
}

h4{
    background-color: blue;
}

p{
    background-color: rebeccapurple;
}

button{
    background-color: cadetblue;
    color: white;
} */

/* .box{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
} */